body{
    background-color: rgb(54, 0, 0);
    color:beige;
}

h1 {
font-family: 'Damion',
cursive;
color:beige;
border: rgba(221, 212, 131, 0.411) 2px solid;
top:100%;
text-align:center ;
}

h3 {
font-family: 'Damion',
cursive;
color: beige;
background-color:rgb(54, 0, 0);
text-align: center;
letter-spacing: 2px;
font-size:1.45em;
margin-bottom:5%;

}
div {
    font-family: 'Lato',
    sans-serif;
    margin-bottom: 5%;
    
    }
#menuBG {
    width: 400px;
    height:470px;
    margin: 10px auto;
    background: rgb(54, 0,0);
    text-align:left;
}
#frmMenu {
    width: 400px;
    height:200px;
}
#totalPrice {
    width:200px;
    height:190px;
    margin: 7% auto;
    float:right;
    text-align: center;
}
.left {
    width:200px;
    height: 200px;
    float: left;
}
.right {
    width:200px;
    height:200px;
    float:right;
}
#showText {
    width:200px;
    height:190px;
    margin: 0px auto;
    float:left;
}

#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:200px;
}
#btnOrder{
    width: auto;
    height: 40px;
    font-family: 'Damion',
    cursive;
    font-size: 1.25rem;;
    background-color: beige;
    color:rgb(54, 0, 0);
    letter-spacing: .1em;
    border-radius: 50px;
    border: beige 2px solid;
    margin:3% 40% 5% ;




}